{% load static %}
<div class="background">
	<div style="width: 240px ;" id="alert" class="alert alert-danger alert-dismissible fade  slide-in-top p-3 d-none" role="alert">
		Veuillez complétez le formulaire.
		
	</div>
	<canvas id='c'></canvas>
	<div class="box">
		<img src="{% static 'img/logo.png' %}" width="100">
		<br><br>
		<div id="quest_zero">
			<br><br>
		<h3 id="sondageName">Nom sondage</h3>
		<p id="sondageDescription">Description...</p>
		
		</div>
		<div id="quest_0" style="display: None">
			<label>Email</label>
			<br>
			<input class="text_input" type="email" name="email" placeholder="abc@abcdef.xyz" id="email">
		</div>
		<div id="questionBox">
		</div>
		<div id="ok" class="d-none"  style="text-align: center;">
			<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_unahkkgk.json"  background="transparent"  speed="1"  style="width: 240px; height: 240px;margin: auto;"   autoplay></lottie-player>
			<p class="text-success mt-2 ">Formulaire envoyé</p>
		</div>
		<br>
		<br><br><br>
		<div class="boxBottom" id="boxBottom">
			<button id="prev" style="visibility: hidden;" onclick="prev()">Précedent</button>
			<button id="validate" onclick="validate()" style="display: None; width: 150px">Envoyer</button>
			<button id="next" onclick="next()">Suivant</button>
		</div>
	</div>
	

</div>


<!-- Only this page css -->
<style type="text/css">

	body {
		width: 100%;
		background-image: url({% static 'img/background2.jpg' %});
	}
	.background {
		width: 100%;
		height: 100%;
		color: lightgrey;
	}
	.box {
		color: black;
		background: #f7f7f7;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 600px;
		min-height: 400px;
		box-shadow: 0 0 1px #ccc;
		border: 1px solid #ccc;
 		border-radius: 13px;
 		padding: 20px;
		clip: auto;
	}
	.box p {
		font-size: 18px;
	}
	.box label {
		font-size: 21px;
	}
	input.text_input {
		width: 100%;
		height: 50px;
		margin: 10px;
		margin-left: 0px;
		padding: 10px;
		font-size: 21px;
		font-family: Arial;
		border: 2px solid #1E0427;
		border-radius: 8px;
	}
	.boxBottom {
		background:#d0d0d0; /* #fccd0d; */
		border-top: 2px solid #d0d0d0;
		position: absolute;
		border-bottom-left-radius: 13px;
		border-bottom-right-radius: 13px;
		top: 88%;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 100.4%;
		min-height: 60px;
		padding: 20px;
		margin: 0px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.boxBottom button {
		background: white;
		color: black;
		padding: 12px;
		font-size: 18px;
		font-weight: bold;
		font-family: Arial;
		width: 120px;
		border-radius: 13px;
		border: 1px solid #d0d0d0;
	}
	.boxBottom button#validate {
		width: 200px;
	}
	.boxBottom button:hover {
		background:#6d727d; /* #fc7935; */
		color: white;
		border: 0px solid black;
	}
	@media screen and (max-width: 600px) {
		.box {
			color: black;
			background: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 98%;
			min-height: 500px;
			box-shadow: 0 0 1px #ccc;
			border: 1px solid #ccc;
			border-radius: 13px;
			padding: 20px;
			clip: auto;
		}
	}

	label {
	  display: flex;
	  width: 100%;
	  cursor: pointer;
	  font-weight: 500;
	  position: relative;
	  overflow: hidden;
	  margin-bottom: 0.375em;
	}
	label input {
	  position: absolute;
	  width: 100%;
	  left: -9999px;
	}
	label input:checked + span {
		width: 100%;
	  background-color: #d6d6e5;
	}
	label input:checked + span:before {
	  box-shadow: inset 0 0 0 0.4375em #00005c;
	}
	label span {
	  display: flex;
	  align-items: center;
	  padding: 0.375em 0.75em 0.375em 0.375em;
	  border-radius: 99em;
	  transition: 0.25s ease;
	}
	label span:hover {
		width: 100%;
	  background-color: #d6d6e5;
	}
	label span:before {
	  display: flex;
	  flex-shrink: 0;
	  content: "";
	  background-color: #fff;
	  width: 1.5em;
	  height: 1.5em;
	  border-radius: 50%;
	  margin-right: 0.375em;
	  transition: 0.25s ease;
	  box-shadow: inset 0 0 0 0.125em #00005c;
	}
	.alert{
		margin: auto;
		z-index: 2;
	}
	.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	/**
	* ----------------------------------------
	* animation slide-in-top
	* ----------------------------------------
	*/
	@-webkit-keyframes slide-in-top {
		0% {
		-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
		opacity: 0;
		}
		100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
		}
	}
	@keyframes slide-in-top {
		0% {
		-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
		opacity: 0;
		}
		100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
		}
	}


  

</style>

<script type="text/javascript">
	var datas = {}
	var elements = []
	var currentElement = 0


	// template for field
	var checkSamples = `
	<label class="form-check-label">
	  <input class="form-check-input checkbox" type="checkbox" id="check#question_id#proposal_id" onclick="valueChange(#question_id,#proposal_id)">
	  <span>
	  #value
	  </span>
	</label>
	`
	var radioSamples = `
	<label class="form-radio-label">
	  <input class="form-radio-input" type="radio" name="radio#question_id" id="radio#question_id#proposal_id" onclick="radioValueChange(#question_id,#proposal_id)" option="#proposal_id">
	  <span>#value</span>
	</label>
	`
	var textSamples = `
	<div>
	  <input class="text_input" type="text" name="text#question_id" id="text#question_id" onchange="textValueChange(#question_id)" placeholder="text..." onkeypress="textValueChange(#question_id)">
	</div>
	`
	var numberSamples = `
	<div>
	  <input class="text_input" type="number" onkeydown="return isNumberKey(event)" name="number#question_id"  id="number#question_id"  placeholder="123..." onchange="numberValueChange(#question_id)" onkeypress="numberValueChange(#question_id)">
	</div>
	`

	// Function for detecting field change
	function valueChange(question_id, proposal_id) {
		if(datas[question_id].indexOf(proposal_id) !== -1) {
			datas[question_id] = datas[question_id].filter(function(e) { return e !== proposal_id })
		} else {
			datas[question_id].push(proposal_id)
		}
	}

	function isNumberKey(evt) {
		var charCode =  event.key;
		number = ['0','1','2','3','4','5','6','7','8','9', 'Backspace']
		
		if(evt.target.value.length > 15 && charCode != 'Backspace'){return false}

		if (number.includes(charCode))
			return true;
		else{
			return false;
		}
	}

	function radioValueChange(question_id, proposal_id) {
		let widget = $("#radio"+question_id+""+proposal_id)
		datas[question_id] = proposal_id
	}

	function textValueChange(question_id) {
		datas[question_id] = $("#text"+question_id).val()
	}

	function numberValueChange(question_id) {
		if(!parseInt($("#number"+question_id).val())) {
			$("#number"+question_id).val
		}
		datas[question_id] = parseInt($("#number"+question_id).val())
	}


	// Function for add new field
	function addCheckBox(e) {
		let cs = ''
		e.response_proposal.forEach(function(v) {
			let sCheck = checkSamples.replaceAll('#question_id',e.id).replaceAll('#proposal_id',v.id).replaceAll("#value",v.libelle)
			cs = cs + '' +sCheck
		})
		$("#questionBox").append('<div style="display: None" id="quest_'+e.id+'"><h3>'+e.libelle+'</h3><br>'+cs+'</div>')
		elements.push("quest_"+e.id)
	}

	function addRadio(e) {
		let cs = ''
		e.response_proposal.forEach(function(v) {
			let sCheck = radioSamples.replaceAll('#question_id',e.id).replaceAll('#proposal_id',v.id).replaceAll("#value",v.libelle)
			cs = cs + '' +sCheck
		})
		$("#questionBox").append('<div style="display: None" id="quest_'+e.id+'"><h3>'+e.libelle+'</h3><br>'+cs+'</div>')
		elements.push("quest_"+e.id)
	}

	function addText(e) {
		let sText = textSamples.replaceAll('#question_id',e.id)
		$("#questionBox").append('<div style="display: None" id="quest_'+e.id+'"><h3>'+e.libelle+'</h3><br>'+sText+'</div>')
		elements.push("quest_"+e.id)
	}
	function addNumber(e) {
		let sNumber = numberSamples.replaceAll('#question_id',e.id)
		$("#questionBox").append('<div style="display: None" id="quest_'+e.id+'"><h3>'+e.libelle+'</h3><br>'+sNumber+'</div>')
		elements.push("quest_"+e.id)
	}


	// Question navigation

	function next() {
		$("#"+elements[currentElement]).css('display', 'None')
		currentElement = currentElement + 1;
		console.log("#"+elements[currentElement])
		$("#"+elements[currentElement]).css('display', 'block')
		console.log(elements.length, currentElement)
		if(currentElement == elements.length - 1) {
			$('#next').css('display','none')
			$('#validate').css('display','block')
		} else {
			$('#next').css('display','block')
			$('#validate').css('display','none')
		}

		if(currentElement > 0 && currentElement < elements.length ) {
			$('#prev').css('visibility','visible')
		} else {
			$('#prev').css('visibility','hidden')
		}
	}

	function prev() {
		$("#"+elements[currentElement]).css('display', 'None')
		currentElement = currentElement - 1;
		$("#"+elements[currentElement]).css('display', 'block')
		$('#validate').css('display','none')
		if(currentElement == elements.length - 1) {
			$('#next').css('display','none')
		} else {
			$('#next').css('display','block')
		}

		if(currentElement > 0 && currentElement < elements.length - 1) {
			$('#prev').css('visibility','visible')
		} else {
			$('#prev').css('visibility','hidden')
		}
	}

	// When user want to submit sondage
	function validate() {
		let data = {
			"person": {"email": $("#email").val()},
			"sondage": sondage,
			"responses": datas
		}
		console.log(data)
		$.ajax
	    ({
	        type: "POST",
	        url: '/response/submit/',
	        dataType: 'json',
	        contentType: 'application/json',
	        async: false,
	        data: JSON.stringify(data),
	        success: function (rs) {
	        	if("status" in rs) {
	        		$('#questionBox').html('')
					$("#ok").toggleClass("d-none")
	        		$('#ok').html('<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_unahkkgk.json"  background="transparent"  speed="1"  style="width: 240px; height: 240px;margin: auto;"   autoplay></lottie-player><p class="text-success mt-2 ">Formulaire envoyé</p>')
	        		$('#boxBottom').toggleClass("d-none")
	        	} else {
					$("#alert").toggleClass("d-none")
					setTimeout(() => {
						$("#alert").toggleClass("d-none")
					}, 2000);
	        		console.log(rs)
	        	}
	        	
	        }
	    })
	}

	// Fetch sondage and create html element
	$(document).ready(function(){
		if(sondage != null)
			$.get('/sondage/'+sondage+'/details/', function(result){
				$("#sondageName").text(result.sondage.libelle)
				$("#sondageDescription").text(result.sondage.description)
				elements.push('quest_zero')
				elements.push("quest_0")
				result.sondage.questions.forEach(function(e){
					if(e.type_response == 0) {
						datas[e.id] = null
						addRadio(e)
					}
					else if(e.type_response == 1) {
						datas[e.id] = []
						addCheckBox(e)
					}
					else if(e.type_response == 2) {
						datas[e.id] = ""
						addText(e)
					}
					else if(e.type_response == 3) {
						datas[e.id] = null
						addNumber(e)
					}
				})
			})
	})
	
</script>	